<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="/stylesheets/home_content.js"></script>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Nav bar -->
  <div class="nav-placeholder"></div>


  <div class="cont">

    <div class="container">
      <div class="row">
        <div class="col">
          <h3 align="center">รายงานสถานการณ์ โควิด-19</h3>
          <iframe class="frame" src="https://covid19.th-stat.com/th/share/dashboard"></iframe>
          <h3 align="center"> แผนที่ข้อมูลจังหวัด/ประเทศ</h3>
          <iframe class="frame2" align="center" src="https://covid19.th-stat.com/th/share/map"></iframe>
        </div>
        <div class="col">
          <h1> 7 วิธีป้องกันไวรัสโควิด-19 </h1>
          <p> 1) หลีกเลี่ยงการอยู่ในที่ที่มีคนพลุกพล่าน <br>
            ด้วยความที่เราไม่รู้ว่าคนที่เดินสวนกันไปมานี้ ใครติดเชื้อ COVID-19 มาแล้วบ้าง
            วิธีแรกที่เราจะสามารถป้องกันตัวเองได้จากโรคนี้ก็คือ
            หลีกเลี่ยงการอยู่ในที่ที่มีคนพลุกพล่านหรือเข้าไปอยู่ในสถานที่แออัด
            เพราะโอกาสที่เราจะได้รับเชื้อจากผู้อื่นไปนั้นมีมากกว่า
            แต่ถ้ามีความจำเป็นจริง ๆ ที่จะต้องเข้าไปอยู่ในที่ที่มีคนพลุกพล่านไม่ได้ สิ่งหนึ่งที่คุณสามารถทำได้ คือ
            การสวมหน้ากากป้องกันและพกเจลล้างมือหรือแอลกอฮอล์ติดตัวไว้เสมอ และอยู่ให้ห่างจากคนที่ไอหรือจาม
            เท่านี้ก็ถือว่าเป็นการป้องกันตัวเองจากโรคไวรัสได้แล้ว</p>
          <p>2) ใส่หน้ากากตามความเหมาะสม <br>
            ด้วยสถานการณ์ที่หน้ากากแบบต่าง ๆ กลายเป็นสิ่งที่หายากขึ้น
            การเลือกใส่หน้ากากแต่ละประเภทให้เหมาะสมกับแต่ละบริบทของเรานอกจากจะเป็นการป้องกันตัวเองจากเชื้อไวรัสแล้ว
            ยังเป็นการช่วยประหยัดค่าใช้จ่ายได้อีกด้วย
            ซึ่งสามารถทำตามคำแนะนำในการใส่หน้ากากจากสมาคมแพทย์อุรเวชช์แห่งประเทศไทยหรือสมาคมแพทย์โรคติดเชื้อแห่งประเทศไทยได้เลยครับ
          </p>
          <p>3) หมั่นล้างมือให้สะอาด<br>
            เราไม่รู้ว่าระหว่างวัน มือของเราไปสัมผัสโดนเชื้อโรคอะไรมาบ้าง
            ฉะนั้นก่อนที่จะทานข้าวหรือสัมผัสอะไรก็ตามบนร่างกาย คุณจำเป็นจะต้องล้างมือให้สะอาดทุกครั้ง รู้มั้ยว่า
            มือของเราเป็นแหล่งเพาะและแพร่เชื้อโรคต่าง ๆ ได้ การล้างมือให้สะอาดอย่างถูกวิธีจึงเป็นสิ่งที่สำคัญมาก
            โดยให้ล้างมือด้วยน้ำและสบู่อย่างน้อย 20 วินาที หรือระหว่างวันอาจจะใช้เจลล้างมือหรือแอลกอฮอล์แทนก็ได้
            ที่สำคัญงดใช้มือสัมผัสใบหน้าหรือขยี้ตาด้วย วันนี้เรามีวิธีล้างมือที่ถูกต้องมาฝากด้วยนะ ไปดูพร้อมๆ กันเลยครับ
          </p>
          <p>4) กินอาหารที่ปรุงสุก<br>
            จากเหตุการณ์การแพร่กระจายของเชื้อ COVID-19
            ในประเทศญี่ปุ่นและมีการส่งต่อข้อมูลกันว่าเชื้อโรคอาจติดต่อกันได้จากการกินอาหารดิบอย่างเช่น ปลาดิบ เป็นต้น
            แม้ว่าข้อมูลในส่วนนี้จะยังไม่มีความชัดเจนมากนัก แต่การกินอาหารที่ปรุงสุก ใหม่
            และการใช้ช้อนกลางนั้นก็เป็นอีกวิธีหนึ่งที่ช่วยป้องกันตัวเราเองจากเชื้อโรคต่าง ๆ ได้นอกเหนือจาก ​COVID-19
            ครับ</p>
          <p>5) ไม่ใช้ของส่วนตัวร่วมกับผู้อื่น<br>
            การงดใช้ของส่วนตัวร่วมกับคนอื่นก็เป็นอีกหนึ่งการป้องกันตัวที่ดี ยกตัวอย่างเช่น ผ้าเช็ดหน้า แก้วน้ำ
            ผ้าเช็ดตัว ฯลฯ เพราะว่านี่อาจจะเป็นการส่งต่อเชื้อโรคให้แก่กันและกันได้
            เราจะไม่รับเชื้อโรคจากผู้อื่นและเราจะไม่ส่งต่อเชื้อโรคให้คนอื่นครับ
            นอกจากนี้อาจจะต้องหลีกเลี่ยงการสัมผัสลูกบิดประตู ตู้เอทีเอ็ม ราวบันได ปุ่มกดลิฟต์ หรืออื่น ๆ อีกด้วย
            ในกรณีที่เลี่ยงไม่ได้ หลังสัมผัสแล้วให้ล้างมือให้สะอาดหรือใช้เจลล้างมือหรือแฮลกอฮอล์ทำความสะอาดทุกครั้งครับ
          </p>
          <p>
            6) พักผ่อนให้เพียงพอ<br>
            การพักผ่อนให้เพียงพอเป็นหนึ่งในวิธีพื้นฐานการดูแลตัวเองที่ไม่ควรละเลย
            เพราะจะช่วยทำให้ร่างกายได้ซ่อมแซมในส่วนที่สึกหรอและยังฟื้นฟูสุขภาพร่างกายที่รวมไปถึงระบบภูมิคุ้มกันของเราให้ดีและแข็งแรงขึ้นอีกด้วย
            เราควรนอนหลับให้เพียงพออย่างน้อยวันละ 6 – 8 ชั่วโมง (อาจแตกต่างกันไปในร่างกายของแต่ละคน)
            รับรองว่าสุขภาพร่างกายแจ่มใสและห่างไกลโรคแน่นอนครับ
          </p>
          <p>7) หากมีอาการป่วยไม่สบาย ควรพบแพทย์<br>
            ถ้าใครมีอาการไอ จาม หายใจไม่สะดวก ฯลฯ ถ้าไม่แน่ใจอย่างไรก็ควรไปพบแพทย์เพื่อตรวจเพิ่มเติม
            เจ้าหน้าที่ตามโรงพยาบาลต่าง ๆ จะมีระบบการซักประวัติในการประเมินความเสี่ยงว่าจะป่วยจากไวรัส COVID-19
            มากน้อยแค่ไหน จำเป็นต้องมีการตรวจหาเชื้อในร่างกายหรือไม่
            ถึงแม้ว่าจะไม่มีประวัติการเดินทางไปในพื้นที่เสี่ยงมาก่อน แต่อย่าลืมนะครับว่าไม่ได้มีแต่ไวรัส COVID-19
            ที่จะทำให้เจ็บป่วยได้ในระยะนี้ เชื้อโรคตัวอื่น ๆ ก็ยังคงอยู่เหมือนเดิมนะครั</p>
          <p> <a href="https://beqclinic.com/ป้องกันไว้ก่อน-7-วิธี/"> credit</a></p>
        </div>
        <div class="w-100"></div>
      </div>
    </div>

  </div>













































  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>

</body>


</html>